*Tips*:
Do code in separate notebook, then paste your code into the group notebook. 
Make your slide for your question and put it into the deck 

*Roles*:

**Slides** - Madisen primarily  
**Presenters** - Josh, Yannan, Kateryna, Madisen

Presentation Order - Timeline, Industry, Report Type, Impairment, CAM, Filter in Joshs question

*Coders* - Everyone 

*Deadlines*:
10/30 - Code, Graphs, Powerpoint Finish

11/1 and/or 11/2 - Practice presentation and Turn in code

Other questions




*   What about goodwill mentions over time, any significant time trends? - Yannan
  * What percent of the cik SP500 had goodwill mentioned in the last year's 10-K?
  * Percentage change in significant economic events ('08, '20)

*   Are there any trends between industries and goodwill mentions? -Madisen

    * If there is one industry that has a majority >25% of mentions, then maybe we carve out that industry and look at specific companies. Although this might be too detailed


* Is there a discussion about auditor conversation about goodwill and CAMs (critical audit matters) within the context search? Like does goodwill show up as a CAM and in what industries was this most common --- could coincide with the trends between industries and mentions questions - Kateryna

* 

Too ambitious:

* Do companies that report large increases to goodwill (mentions) see a subsequent increase in profits 1,2,3 years down the line? (suggesting synergies were formed and integrated)

#Notes from class

In [11]:
# Note from Class 7 Powerpoint: 8 Working with data structures
#To 10K strings
import requests

header_content = 'No Company (personal research) giro.hives_0s@icloud.com'

url = 'https://tinyurl.com/hallman-apple-2021'

apple10K = str(requests.get(url, headers={'User-Agent': header_content}).content)

In [12]:
#Check the number of times the word "union" appears in Apple's 2021 10K
apple10K.lower().count("union")

2

In [13]:
#Get the context of the first appearance of the word "union"
apple10K[apple10K.lower().find("union")-100:apple10K.lower().find("union")+100]

' further business changes in the future. New legislative initiatives, such as the proposed European Union (&#8220;EU&#8221;) Digital Markets Act, could, if enacted, require further changes. The Compan'

#Carson

Questions for Case 1



*   Is "goodwill" mentioned more in 10-k,8-k, or 10-q?
*   How often is goodwill mentioned alongside impairment?

In [14]:
import requests
import pandas as pd
import numpy as np
from io import StringIO
from bs4 import BeautifulSoup
#from google.colab import output
#Import all necessary packages

# Question 1: Is "goodwill" mentioned more often in 10-K, 10-Q, or 8-K reports?

In [15]:
'''
SUMMARY: 
code block to create a loop that combines the index files from 2017 through 2022. 
Then merge the combined index file with the list of S&P 500 firms given as part of Case 1, 
keeping only cases that show up in both datasets. 
Finally, mask the resulting DataFrame to return only 10-K, 10-Q, and 8-K filings.
'''

#set an email and username to give SEC EDGAR for requests
dl_user_email = 'beraxax950@haizail.com' 
dl_user_name = 'No Company (personal research)' 

#instantiate the master data frame which will be populated with filings
master_df = pd.DataFrame()

#loop through the desired range of years
for yr in range(2017, 2022):
  #loop through each quarter of each year
  for qtr in range(1,5):    
     #create the url for each year, quarter
     url = f"https://www.sec.gov/Archives/edgar/full-index/{yr}/QTR{qtr}/company.idx"
     idx_content = requests.get(url, headers={'User-Agent': f'{dl_user_name} {dl_user_email}'}).content
     temp_df = pd.read_fwf(StringIO(idx_content.decode('ISO-8859-1')), skiprows=(0,1,2,3,4,5,6,7,9), widths = [62,12,12,12,52])
     #concatenate the master and temporary dataframes 
     master_df = pd.concat([master_df, temp_df])    

#merge on the given list of S&P 500 CIDS
sp500 = pd.read_csv('https://tinyurl.com/sp500ciks')
sp500_fs_data = pd.merge(left = sp500, 
                         right = master_df,  
                         left_on = 'cik',
                         right_on = 'CIK',
                         how = 'inner')

#Mask the resultant DataFrame to only 10-K, 10-Q, 8-K filings 
my_func_ret_df = sp500_fs_data.loc[(sp500_fs_data['Form Type'] == "10-K") | (sp500_fs_data['Form Type'] == "10-Q") | (sp500_fs_data['Form Type'] == "8-K"),:].copy()
my_func_ret_df

,company name,cik,Company Name,Form Type,CIK,Date Filed,File Name
0,AMERICAN AIRLINES GROUP INC,6201,American Airlines Group Inc.,10-K,6201,2017-02-22,edgar/data/6201/0001193125-17-051216.txt
8,AMERICAN AIRLINES GROUP INC,6201,American Airlines Group Inc.,8-K,6201,2017-01-11,edgar/data/6201/0001193125-17-007435.txt
9,AMERICAN AIRLINES GROUP INC,6201,American Airlines Group Inc.,8-K,6201,2017-01-27,edgar/data/6201/0001193125-17-020515.txt
10,AMERICAN AIRLINES GROUP INC,6201,American Airlines Group Inc.,8-K,6201,2017-01-30,edgar/data/6201/0001193125-17-023738.txt
11,AMERICAN AIRLINES GROUP INC,6201,American Airlines Group Inc.,8-K,6201,2017-02-09,edgar/data/6201/0001193125-17-035393.txt
...,...,...,...,...,...,...,...
504286,ORGANON & CO,1821825,Organon & Co.,8-K,1821825,2021-06-29,edgar/data/1821825/0001104659-21-086583.txt
504293,ORGANON & CO,1821825,Organon & Co.,10-Q,1821825,2021-08-16,edgar/data/1821825/0001821825-21-000009.txt
504309,ORGANON & CO,1821825,Organon & Co.,8-K,1821825,2021-08-12,edgar/data/1821825/0001104659-21-103773.txt
504311,ORGANON & CO,1821825,Organon & Co.,10-Q,1821825,2021-11-12,edgar/data/1821825/0001628280-21-023199.txt
504312,ORGANON & CO,1821825,Organon & Co.,8-K,1821825,2021-11-12,edgar/data/1821825/0001104659-21-137472.txt

In [17]:
'''
SUMMARY: 
Create a copy of the master dataframe of filings, then manipulate the copy, adding the full URL to the file name column. 
Next, apply the context search modified method to run the function for each file. 

'''

#create a copy of the  df
master_index_copy = my_func_ret_df.copy()
#complete URLS
master_index_copy['File Name'] = 'https://www.sec.gov/Archives/' + master_index_copy['File Name']

#write a modified version of the context search function to pull the context around a search term
def context_search(url, search_phrase, context_distance):
    search_start = 0
    context_list = []
    #request the content of the filing from EDGAR using the defined user name and email
    text = str(requests.get(url, headers={'User-Agent': f'{dl_user_name} {dl_user_email}'}).content).lower() 

    #for each instance of the defined search_phrase, return the text within context_distance and add it as an element to context_list
    for occurance in range(text.count(search_phrase)):
        location = text.find(search_phrase, search_start)
        context_string = text[location-context_distance:location+context_distance]
        search_start = location + 1
        context_list.append([context_string])
    
    #if context_list has any content, then return to context list. Otherwise return a null value
    if len(context_list) > 0:
        return context_list
    else:
        return np.nan

#draw a random sample of filings from the index
rsample = master_index_copy.sample(100).reset_index(drop = True)

#loop over items in the DF and apply the function to each URL
for row in range(len(rsample)):
    rsample.loc[row,"gw_context"] = context_search(rsample.loc[row,'File Name'], "goodwill", 500)
   
    if type(rsample.loc[row,"gw_context"]) == list:
        rsample.loc[row,"gw_count"] = len(rsample.loc[row,"gw_context"])
    else:
        rsample.loc[row,"gw_count"] = 0

In [18]:
# Use groupby to see how often companies mention goodwill in different types of filings
rsample[['Form Type', 'gw_count']].groupby('Form Type').aggregate(["mean","count", "sum"])

             gw_count
                 mean count      sum
Form Type
10-K       760.500000     2   1521.0
10-Q       575.047619    21  12076.0
8-K          0.844156    77     65.0

In [19]:
rsample

,company name,cik,Company Name,Form Type,CIK,Date Filed,File Name,gw_context,gw_count
0,PUBLIC SERVICE ENTRP GRP INC,788784,PUBLIC SERVICE ENTERPRISE GROUP INC,8-K,788784,2018-08-01,https://www.sec.gov/Archives/edgar/data/788784...,NaN,0.0
1,PINNACLE WEST CAPITAL CORP,764622,PINNACLE WEST CAPITAL CORP,8-K,764622,2018-07-02,https://www.sec.gov/Archives/edgar/data/764622...,NaN,0.0
2,LUMEN TECHNOLOGIES INC,18926,"CENTURYLINK, INC",8-K,18926,2020-11-19,https://www.sec.gov/Archives/edgar/data/18926/...,NaN,0.0
3,QUANTA SERVICES INC,1050915,QUANTA SERVICES INC,10-Q,1050915,2019-05-06,https://www.sec.gov/Archives/edgar/data/105091...,[t:2px;padding-top:2px;padding-bottom:2px;padd...,1457.0
4,NEKTAR THERAPEUTICS,906709,NEKTAR THERAPEUTICS,8-K,906709,2019-07-25,https://www.sec.gov/Archives/edgar/data/906709...,NaN,0.0
...,...,...,...,...,...,...,...,...,...
95,WORTHINGTON INDUSTRIES,108516,WORTHINGTON INDUSTRIES INC,8-K,108516,2019-07-31,https://www.sec.gov/Archives/edgar/data/108516...,NaN,0.0
96,WALMART INC,104169,Walmart Inc.,8-K,104169,2020-09-21,https://www.sec.gov/Archives/edgar/data/104169...,NaN,0.0
97,MEREDITH CORP,65011,MEREDITH CORP,10-Q,65011,2021-02-04,https://www.sec.gov/Archives/edgar/data/65011/...,"[ roman\',sans-serif;font-size:9pt;font-weight...",1089.0
98,GENERAL MILLS INC,40704,GENERAL MILLS INC,8-K,40704,2018-12-19,https://www.sec.gov/Archives/edgar/data/40704/...,[s; acquisitions or dispositions of businesses...,2.0
99,NORFOLK SOUTHERN CORP,702165,NORFOLK SOUTHERN CORP,8-K,702165,2019-05-01,https://www.sec.gov/Archives/edgar/data/702165...,NaN,0.0

# New stuff

In [20]:
# loop through each row in rsample and extract the Standard Industrial Classification
for row in range(len(rsample)):
    # for debugging, print the row # and URL
    #print(row, rsample.loc[row,'File Name']) 

    # Access the current row File name Url and Extract all text
    item = requests.get(rsample.loc[row,'File Name'], headers={'User-Agent': f'{dl_user_name} {dl_user_email}'}).text

    # Find "CLASSIFICATION" and store the location
    classification_location = item.find("CLASSIFICATION",0)

    # Extract the context surrounding "CLASSIFICATION"
    class_text = str(item[classification_location:classification_location+200])
    
    # Find the start of the Industry based on length of search text
    class_start = class_text.find("\\t") + len("CLASSIFICATION:\t\t")

    # Find the end of the Industry based on the location of the "]" that follows each ID
    class_end = class_text.find("]",0) + 1

    # Extract only the Industry from the located text
    industry = class_text[class_start:class_end]

    #Store the extracted industry name back into rsample
    rsample.loc[row,'Industry'] = industry

# Print rsample to verify
rsample

,company name,cik,Company Name,Form Type,CIK,Date Filed,File Name,gw_context,gw_count,Industry
0,PUBLIC SERVICE ENTRP GRP INC,788784,PUBLIC SERVICE ENTERPRISE GROUP INC,8-K,788784,2018-08-01,https://www.sec.gov/Archives/edgar/data/788784...,NaN,0.0,ELECTRIC & OTHER SERVICES COMBINED [4931]
1,PINNACLE WEST CAPITAL CORP,764622,PINNACLE WEST CAPITAL CORP,8-K,764622,2018-07-02,https://www.sec.gov/Archives/edgar/data/764622...,NaN,0.0,ELECTRIC SERVICES [4911]
2,LUMEN TECHNOLOGIES INC,18926,"CENTURYLINK, INC",8-K,18926,2020-11-19,https://www.sec.gov/Archives/edgar/data/18926/...,NaN,0.0,TELEPHONE COMMUNICATIONS (NO RADIO TELEPHONE) ...
3,QUANTA SERVICES INC,1050915,QUANTA SERVICES INC,10-Q,1050915,2019-05-06,https://www.sec.gov/Archives/edgar/data/105091...,[t:2px;padding-top:2px;padding-bottom:2px;padd...,1457.0,ELECTRICAL WORK [1731]
4,NEKTAR THERAPEUTICS,906709,NEKTAR THERAPEUTICS,8-K,906709,2019-07-25,https://www.sec.gov/Archives/edgar/data/906709...,NaN,0.0,PHARMACEUTICAL PREPARATIONS [2834]
...,...,...,...,...,...,...,...,...,...,...
95,WORTHINGTON INDUSTRIES,108516,WORTHINGTON INDUSTRIES INC,8-K,108516,2019-07-31,https://www.sec.gov/Archives/edgar/data/108516...,NaN,0.0,"STEEL WORKS, BLAST FURNACES & ROLLING & FINISH..."
96,WALMART INC,104169,Walmart Inc.,8-K,104169,2020-09-21,https://www.sec.gov/Archives/edgar/data/104169...,NaN,0.0,RETAIL-VARIETY STORES [5331]
97,MEREDITH CORP,65011,MEREDITH CORP,10-Q,65011,2021-02-04,https://www.sec.gov/Archives/edgar/data/65011/...,"[ roman\',sans-serif;font-size:9pt;font-weight...",1089.0,PERIODICALS: PUBLISHING OR PUBLISHING AND PRI...
98,GENERAL MILLS INC,40704,GENERAL MILLS INC,8-K,40704,2018-12-19,https://www.sec.gov/Archives/edgar/data/40704/...,[s; acquisitions or dispositions of businesses...,2.0,GRAIN MILL PRODUCTS [2040]
99,NORFOLK SOUTHERN CORP,702165,NORFOLK SOUTHERN CORP,8-K,702165,2019-05-01,https://www.sec.gov/Archives/edgar/data/702165...,NaN,0.0,"RAILROADS, LINE-HAUL OPERATING [4011]"

In [43]:
rsample[['Industry','context_count']].groupby('Industry').aggregate(["mean","count", "sum"])

                                                   context_count
                                                            mean count    sum
Industry
ACCIDENT & HEALTH INSURANCE [6321]                           0.0     2    0.0
AIR TRANSPORTATION, SCHEDULED [4512]                        23.5     2   47.0
AIRCRAFT ENGINES & ENGINE PARTS [3724]                       0.0     1    0.0
ARRANGEMENT OF TRANSPORTATION OF FREIGHT & CARG...           0.0     1    0.0
BIOLOGICAL PRODUCTS (NO DIAGNOSTIC SUBSTANCES) ...           0.0     2    0.0
...                                                          ...   ...    ...
TRUCKING & COURIER SERVICES (NO AIR) [4210]                  0.0     1    0.0
WATER TRANSPORTATION [4400]                                  0.0     1    0.0
WHOLESALE-DRUGS PROPRIETARIES & DRUGGISTS' SUND...           0.0     1    0.0
WHOLESALE-MEDICAL, DENTAL & HOSPITAL EQUIPMENT ...           1.0     1    1.0
WHOLESALE-MOTOR VEHICLES & MOTOR VEHICLE PARTS ...         115.0     1  115.0

[67 rows x 3 columns]

# continuing old stuff

#Answer: In a sample of 100 filings from 2017-2022, goodwill appeared on average 400-700 times in 10-K and 10-Q filings, while only appearing an average of less than 1 times in 8-K filings


Note: need to run for the entire population rather than a sample (and for all years)

#Question 2: How often is goodwill mentioned alongside impairment?

In [21]:
#check r sample to see how many of each form type was sampled
rsample[['Form Type', 'company name']].groupby('Form Type').count()

           company name
Form Type
10-K                  2
10-Q                 21
8-K                  77

In [22]:
rsample[['Form Type', 'gw_count']].groupby('Form Type').aggregate(["sum"])

          gw_count
               sum
Form Type
10-K        1521.0
10-Q       12076.0
8-K           65.0

In [23]:
for row in range(len(rsample)):
    context_count = 0
    if rsample.loc[row,"gw_count"] > 0:
        for context in range(len(rsample.loc[row,"gw_context"])):
            if "impairment" in rsample.loc[row,"gw_context"][context]:
                context_count += 1
            
    rsample.loc[row,'context_count'] = context_count

rsample[['Form Type', 'context_count']].groupby('Form Type').aggregate(["sum"])

          context_count
                    sum
Form Type
10-K              724.0
10-Q             2373.0
8-K                31.0

#Answer: Of 4281 goodwill mentions in 10-K, "impairment" was nearby 1300 times. Of 5727 goodwill mentions in 10-Q, "impairment" was nearby 1061 times. Of 871 goodwill mentions in 8-K, "impairment" was nearby 104 times. 

Note: run full population

#Josh

In [ ]:
import requests
import pandas as pd
import numpy as np
from io import StringIO
from bs4 import BeautifulSoup
from google.colab import output
#Import all necessary packages

In [ ]:
#To 10K strings
import requests

header_content = 'No Company (personal research) giro.hives_0s@icloud.com'

url = 'https://tinyurl.com/hallman-apple-2021'

apple10K = str(requests.get(url, headers={'User-Agent': header_content}).content)

In [ ]:
def context_search(text, search_phrase, context_phrase, context_distance):
  d = {}
  c = 0
  start = 0
  for i in range(text.lower().count(search_phrase)):
      
      #find instance of 'Union' at start position
      v = text.lower().find(search_phrase, start, )
      
      #Make start a new value to find next occurence when it goes through loop again
      start = v+1 

      #v2 is the 200 character phrase artound union
      v2 = text[v - context_distance:v + context_distance]
    
      #goal is to count the context phrase in the 200 characters around union
      v3 = v2.count(context_phrase) 
      if c > 0:
        c += 1
  
      #update dictionary to add the occurence ... 
      d.update({i+1:v2}) 

      #have function return the dictionary with the updated key value pairs
  tupl_dict = (d,c)

  return tupl_dict

In [ ]:
# First, lets import some packages (it is OK that you don't know what all of these are right now)
import requests
import pandas as pd
import numpy as np
from io import StringIO
from bs4 import BeautifulSoup
from google.colab import output

In [ ]:
# Create a few variables
dl_user_email = 'joshcosto@yahoo.com' # Personal(burner) email address
dl_user_name = 'No Company (personal research)' # Statement about what he is up to
year = 2020 # The year of the index we want to look at
quarter = 1 # The quarter of the index we want to look at

In [ ]:
# Create a variable that contains the URL of the index we want to access
index_url = f"https://www.sec.gov/Archives/edgar/full-index/{year}/QTR{quarter}/company.idx"

In [ ]:
# Download the content from the URL above
index_content = requests.get(index_url, headers={'User-Agent': f'{dl_user_name} {dl_user_email}'}).content

In [ ]:
# Create a DataFrame from the content downloaded in the previous cell
index_df = pd.read_fwf(StringIO(index_content.decode('ISO-8859-1')), skiprows=(0,1,2,3,4,5,6,7,9), widths = [62,12,12,12,52])

In [ ]:
# Take a look at our DataFrame
index_df

,Company Name,Form Type,CIK,Date Filed,File Name
0,&VEST Domestic Fund II LP,D,1800903,2020-01-27,edgar/data/1800903/0001800903-20-000001.txt
1,&VEST Offshore Fund II L.P.,D,1800902,2020-01-27,edgar/data/1800902/0001800902-20-000001.txt
2,"&vest Domestic Fund II KPIV, L.P.",D,1802417,2020-02-06,edgar/data/1802417/0001802417-20-000001.txt
3,"024 Pharma, Inc.",8-K/A,1307969,2020-02-20,edgar/data/1307969/0001683168-20-000541.txt
4,1 800 FLOWERS COM INC,10-Q,1084869,2020-02-07,edgar/data/1084869/0001437749-20-002005.txt
...,...,...,...,...,...
324771,voxeljet AG,6-K,1582581,2020-01-27,edgar/data/1582581/0001558370-20-000263.txt
324772,voxeljet AG,6-K,1582581,2020-03-18,edgar/data/1582581/0001558370-20-002891.txt
324773,voxeljet AG,SC 13G/A,1582581,2020-02-14,edgar/data/1582581/0001453072-20-000027.txt
324774,voxeljet AG,SC 13G/A,1582581,2020-02-14,edgar/data/1582581/0001567619-20-003730.txt
324775,xMentium Inc.,D,1807538,2020-03-30,edgar/data/1807538/0001807538-20-000001.txt

In [ ]:
index_df['Full URL'] = 'https://www.sec.gov/Archives/' + index_df['File Name']

In [ ]:
# Download the CSV file of S&P 500 firms provided with Case 1
sp500ciks = pd.read_csv('https://tinyurl.com/sp500ciks')

In [ ]:
# Take a look at the S&P 500 firms DataFrame
sp500ciks

In [ ]:
#Create the function 
def project_scraper(x=2011, y=2021):
  master_idx_df = pd.DataFrame()
  for year in range(x, y+1):
    for quarter in range(1,5):
      index_url = f"https://www.sec.gov/Archives/edgar/full-index/{year}/QTR{quarter}/company.idx"
      index_content = requests.get(index_url, headers={'User-Agent': f'{dl_user_name} {dl_user_email}'}).content
      index_df = pd.read_fwf(StringIO(index_content.decode('ISO-8859-1')), skiprows=(0,1,2,3,4,5,6,7,9), widths = [62,12,12,12,52])
      
      index_df['year'] = f"{year}"
      index_df['quarter'] = f"{quarter}"

      master_idx_df = pd.concat([master_idx_df, index_df])
  


  sp500_exercise_data = pd.merge(left = sp500ciks,
                                   right = master_idx_df,
                                   left_on = 'cik',
                                   right_on = 'CIK',
                                   how = 'inner')
  
  
  a = sp500_exercise_data[(sp500_exercise_data.loc[:, "Form Type"] == '10-K') |
                          (sp500_exercise_data.loc[:, "Form Type"] == '10-Q') | 
                          (sp500_exercise_data.loc[:, "Form Type"] == '8-K')] 

  return a

In [ ]:
# Write a modified version of our context search function to pull the context around a search term
def context_search(url, search_phrase, context_distance):
    search_start = 0
    context_list = []
    text = str(requests.get(url, headers={'User-Agent': f'{dl_user_name} {dl_user_email}'}).content).lower() # request the content of the filing from EDGAR

    # For each occurance of the search_phrase, pull all the text within context_distance and add it as an element to context_list
    for occurance in range(text.count(search_phrase)):
        location = text.find(search_phrase, search_start)
        context_string = text[location-context_distance:location+context_distance]
        search_start = location + 1
        context_list.append([context_string])
    
    # If context_list has any content, then return context =_list. Otherwise return a null value
    if len(context_list) > 0:
        return context_list
    else:
        return np.nan

In [ ]:
# Draw a random sample of filings from the index
rsample = sp500_index_select.sample(500).reset_index(drop = True)

In [ ]:
# Loop over items in the DF and apply the function to each URL
for row in range(len(rsample)):
    rsample.loc[row,"union_context"] = context_search(rsample.loc[row,'File Name'], "union", 500)
'''
    if type(rsample.loc[row,"union_context"]) == list:
        rsample.loc[row,"union_count"] = len(rsample.loc[row,"union_context"])
    else:
        rsample.loc[row,"union_count"] = 0
'''

#Kateryna

#Yannan

#Madisen