In [1]:
import pandas as pd

In [23]:
df = pd.read_csv('Copy of dt_dg_qf_data.csv')
df

,cik,revtq,atq,ltq,niq,derhedglq,ppegtq,fqtr,fyearq,fyr,datacqtr,conm,datadate
0,29534.0,997.079,1518.270,610.764,29.335,NaN,641.158,1.0,2000.0,1.0,2000Q1,DOLLAR GENERAL CORP,2000-04-30
1,29534.0,1017.418,1626.962,680.603,27.786,NaN,736.444,2.0,2000.0,1.0,2000Q2,DOLLAR GENERAL CORP,2000-07-31
2,29534.0,1094.360,1768.009,762.620,45.676,NaN,801.837,3.0,2000.0,1.0,2000Q3,DOLLAR GENERAL CORP,2000-10-31
3,29534.0,1441.714,2282.462,1420.699,-32.155,NaN,1339.554,4.0,2000.0,1.0,2000Q4,DOLLAR GENERAL CORP,2001-01-31
4,935703.0,327.111,562.435,180.129,13.952,NaN,235.185,1.0,2000.0,12.0,2000Q1,DOLLAR TREE INC,2000-03-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,935703.0,7080.600,21721.800,14003.300,454.200,NaN,16266.400,4.0,2021.0,1.0,2021Q4,DOLLAR TREE INC,2022-01-31
176,29534.0,8751.352,26956.308,20994.684,552.657,NaN,NaN,1.0,2022.0,1.0,2022Q1,DOLLAR GENERAL CORP,2022-04-30
177,29534.0,9425.713,28239.256,22050.765,678.030,NaN,NaN,2.0,2022.0,1.0,2022Q2,DOLLAR GENERAL CORP,2022-07-31
178,935703.0,6902.600,22372.300,14130.800,536.400,NaN,16404.800,1.0,2022.0,1.0,2022Q1,DOLLAR TREE INC,2022-04-30
179,935703.0,6768.500,22676.300,14279.800,359.900,NaN,16775.400,2.0,2022.0,1.0,2022Q2,DOLLAR TREE INC,2022-07-31

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   cik        180 non-null    float64
 1   revtq      180 non-null    float64
 2   atq        179 non-null    float64
 3   ltq        179 non-null    float64
 4   niq        180 non-null    float64
 5   derhedglq  5 non-null      float64
 6   ppegtq     89 non-null     float64
 7   fqtr       180 non-null    float64
 8   fyearq     180 non-null    float64
 9   fyr        180 non-null    float64
 10  datacqtr   180 non-null    object
 11  conm       180 non-null    object
 12  datadate   180 non-null    object
dtypes: float64(10), object(3)
memory usage: 18.4+ KB

In [12]:
df.describe()

,cik,revtq,atq,ltq,niq,derhedglq,ppegtq,fqtr,fyearq,fyr
count,180.000000,180.000000,179.000000,179.000000,180.000000,5.0,89.000000,180.000000,180.000000,180.000000
mean,482618.500000,3365.538211,8723.129151,5375.173570,168.674622,0.0,5102.418910,2.477778,2010.755556,1.733333
std,454348.336486,2391.976937,7763.564528,5624.185317,260.469637,0.0,5318.153572,1.120931,6.516522,2.751536
min,29534.000000,327.111000,562.435000,180.129000,-2307.000000,0.0,235.185000,1.000000,2000.000000,1.000000
25%,29534.000000,1371.575000,2273.845500,887.150000,46.533250,0.0,1575.100000,1.000000,2005.000000,1.000000
50%,482618.500000,2439.549000,8656.431000,5013.938000,122.200000,0.0,2360.668000,2.000000,2011.000000,1.000000
75%,935703.000000,5331.346750,13032.485000,6775.889000,253.256500,0.0,6239.000000,3.000000,2016.000000,1.000000
max,935703.000000,9425.713000,28239.256000,22050.765000,1040.100000,0.0,18030.704000,4.000000,2022.000000,12.000000

In [10]:
df['derhedglq'].unique()

array([nan,  0.])

In [36]:
#df.drop(columns=['derhedglq','datadate','fyearq','fyr','fqtr','cik'], inplace=True)

df = df.drop(columns=['derhedglq','datadate','fyearq','fyr','fqtr','cik'])

#df

In [40]:
df.loc[df['conm'] == 'DOLLAR GENERAL CORP'].count()

revtq       90
atq         89
ltq         89
niq         90
ppegtq      44
datacqtr    90
conm        90
dtype: int64

In [45]:
# Exam Q2 remove_func

def remove_func(text1, text2):
    modified = text1.replace(text2,'')
    return modified

In [46]:
remove_func('this is a string to test', "i")

'ths s a strng to test'

In [66]:
# Exam Q3
# X is a list of words, y is a string to find instances in

def my_func(x, y):
    dict = {}
    for i in x:
        dict[i] = y.count(i)

    return dict

In [67]:
y = 'this is where we will search for entries'
x = ['this', 'is', 'i']

my_func(x, y)

{'this': 1, 'is': 2, 'i': 4}

In [73]:
# Q4 - 100 / 2 recurring as long as > 1

x = 100
while x > 1: 
    print(x)
    x = x/2

100
50.0
25.0
12.5
6.25
3.125
1.5625

In [80]:
range(3,6)

range(3, 6)

In [92]:
# Q7 list maker
# create list of length input integer, default 3


def make_list(x=3):
    output = []
    for i in range(x, x+x):
        #print(i)
        output.append(i)
    return output

In [94]:
make_list(5)

[5, 6, 7, 8, 9]

In [112]:
float(2/2).is_integer()

True

In [111]:
# Q9 print string or even else nothing

values = [1,2,'cooler',13,14,'before']

for i in values:
    if type(i) == str:
        print(i)
    elif float(i/2).is_integer():
        print(i, 'is Even')

2 is Even
cooler
14 is Even
before

In [130]:

5%3

2

In [138]:
def boohoo(n=15):
    bhlist = []
    for i in range(1,n+1):

        if i%5==0 and i%3==0:
            #print('BooHoo',i)
            bhlist.append('BooHoo')

        elif i%3==0:
            #print('Boo',i)
            bhlist.append('Boo')

        elif i%5==0:
            #print('Hoo',i)
            bhlist.append('Hoo')
            
    return bhlist

In [139]:
boohoo(30)

['Boo',
 'Hoo',
 'Boo',
 'Boo',
 'Hoo',
 'Boo',
 'BooHoo',
 'Boo',
 'Hoo',
 'Boo',
 'Boo',
 'Hoo',
 'Boo',
 'BooHoo']

In [154]:
ab = [1,2,3]
sum(ab)

6

In [156]:
# List of lists 

lol = [[1,2,3],[4,5,6],[7,8,9]]

def sum_of_lists(list_o_lists):
    sums = 0
    for i in list_o_lists:
        for j in i:
            #print(j)
            sums = sums + j
    return sums

def sum_of_lists2(list_o_lists):
    sums = 0
    for i in list_o_lists:
        sums=sums+sum(i)
    return sums

In [157]:
sum_of_lists2(lol)

45